.cache/
.tutor/
auto-save-list/
config/
elpa/
etc/
org-persist/
persp-confs/
save/
saves/
var/
.emacs.desktop
.last-package-update-day
*~
projectile-bookmarks.eld
config.org_archive
recentf
projectile-bookmarks.eld
# Archivo de de configuracion
projects.el
