.cache/
.tutor/
auto-save-list/
config/
elpa/
etc/
org-persist/
saves/
var/
.emacs.desktop
.last-package-update-day
*~
projectile-bookmarks.eld
recentf
# Archivo de configuracion para projectos personales
projects.el
